<h1>Dashboard</h1>

<div class="row">
  <div class="col-md-4">
    <h1>Portfolio</h1>
    <p>
      <button type="button" class="btn btn-primary" [routerLink]="['portfolio']">Go to portfolio
        <span *ngIf="settingsService.newPortfolioSinceLastVisit" class="badge badge-light">{{settingsService.newPortfolioSinceLastVisit}}</span>
      </button>
    </p>
  </div>

  <div class="col-md-4">
    <h1>Trades</h1>
    <p>
      <button type="button" class="btn btn-primary" [routerLink]="['trades']">Go to trades
        <span *ngIf="settingsService.newTradesSinceLastVisit" class="badge badge-light">{{settingsService.newTradesSinceLastVisit}}</span>
      </button>
    </p>
  </div>
<!-- aanpassing -->
  <div class="col-md-4">
    <h1>Verge</h1>
    <p (click)="refreshXvg()" >2146.40046600 XVG => €275.00 => ~ {{vergeValue | currency:'EUR':true}} <span *ngIf="vergeIsLoading"><i class="fa fa-spinner fa-pulse fa-fw"></i></span></p>
    <p>price: {{stockPrice}} <a href="https://www.litebit.eu/nl/kopen/verge">litebit</a></p>
  </div>
</div>
