@import "dashboard";

.active .badge 
{
  @extend .badge-light
}

.red-text {
  color: red;
}

.green-text {
  color: green;
}

.table-hover {
  cursor: pointer;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}